<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/project/project.css}">
</head>
<body>
	<div layout:fragment="Content">


		<div class="project-container">
			<h2 style="font-weight: 700; margin-bottom: 35px; color: #111;">프로젝트</h2>

			<form th:action="@{/project/register}" method="post" id="projectForm">
				<div class="row g-5">
					<div class="col-xl-8 col-lg-7">
						<div class="row mb-4">
							<div class="col-md-6">
								<div class="form-section-title">제목</div>
								<input type="text" class="form-line-control" id="projectName"
									name="projectName" placeholder="Value" required>
							</div>
							<div class="col-md-6">
								<div class="form-section-title">식별자</div>
								<input type="text" class="form-line-control" id="identifier"
									name="identifier" placeholder="Value" required> <input
									type="hidden" id="ownerId" name="userId" th:value="${userId}">
							</div>
						</div>

						<div class="mb-4">
							<div class="form-section-title">설명</div>
							<textarea class="form-box-control" id="description"
								name="description" placeholder="Value"></textarea>
						</div>
					</div>

					<div class="col-xl-4 col-lg-5">
						<div class="mb-4">
							<div class="form-section-title">홈페이지 URL</div>
							<input type="url" class="form-line-control" id="projectUrl"
								name="projectUrl" placeholder="Value">
						</div>

						<div class="mb-4">
							<div class="form-section-title">모듈</div>
							<div class="module-card">
								<div class="module-grid">
									<div class="module-item">
										<label for="m1" class="m-0 cursor-pointer">일감관리</label> <input
											type="checkbox" name="moduleCodes" value="h001" id="m1">
									</div>
									
									<div class="module-item">
										<label for="m3" class="m-0 cursor-pointer">파일</label> <input
											type="checkbox" name="moduleCodes" value="h002" id="m3">
									</div>
									
									<div class="module-item">
										<label for="m5" class="m-0 cursor-pointer">저장소</label> <input
											type="checkbox" name="moduleCodes" value="h003" id="m5">
									</div>
									
									<div class="module-item">
										<label for="m2" class="m-0 cursor-pointer">문서</label> <input
											type="checkbox" name="moduleCodes" value="h004" id="m2">
									</div>

									<div class="module-item">
										<label for="m4" class="m-0 cursor-pointer">위키</label> <input
											type="checkbox" name="moduleCodes" value="h005" id="m4">
									</div>

									<div class="module-item">
										<label for="m6" class="m-0 cursor-pointer">게시판</label> <input
											type="checkbox" name="moduleCodes" value="h006" id="m6">
									</div>
									
									<div class="module-item">
										<label for="m8" class="m-0 cursor-pointer">간트차트</label> <input
											type="checkbox" name="moduleCodes" value="h007" id="m8">
									</div>
									
									<div class="module-item">
										<label for="m9" class="m-0 cursor-pointer">칸반</label> <input
											type="checkbox" name="moduleCodes" value="h008" id="m9">
									</div>
									
									<div class="module-item">
										<label for="m10" class="m-0 cursor-pointer">로드맵</label> <input
											type="checkbox" name="moduleCodes" value="h009" id="m10">
									</div>
									
									<div class="module-item">
										<label for="m11" class="m-0 cursor-pointer">마일스톤</label> <input
											type="checkbox" name="moduleCodes" value="h010" id="m11">
									</div>
									
									<div class="module-item">
										<label for="m7" class="m-0 cursor-pointer">달력</label> <input
											type="checkbox" name="moduleCodes" value="h011" id="m7">
									</div>
								</div>
							</div>
						</div>

						<div class="row mb-4">
							<div class="col-6">
								<div class="form-section-title">시작일</div>
								<input type="date" class="form-line-control" id="startDate"
									name="startDate">
							</div>
							<div class="col-6">
								<div class="form-section-title">완료일</div>
								<input type="date" class="form-line-control" id="endDate"
									name="endDate">
							</div>
						</div>

						<div class="text-end mt-5">
							<button type="submit" class="btn-register">등록</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>

</html>