<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/repository/repositoryEdit.css}">
</head>
<body>
<div layout:fragment="Content">

    <div class="repo-container">
        <div class="repo-header">
            <h2 class="repo-title">자료실</h2>
            <a th:href="@{/project/{projectId}/repository(projectId=${projectId})}"
                class="repo-btn-upload" style="background:#6c757d;">목록으로</a>
        </div>

        <div class="repo-detail-card" style="padding: 40px; min-height: 450px;">
            <form th:action="@{/project/{projectId}/repository/edit(projectId=${projectId})}" method="post" enctype="multipart/form-data">
    			
    			<input type="hidden" name="fileId" th:value="${repository.fileId}">
    			
			    <div class="repo-upload-zone" onclick="document.getElementById('uploadFile').click();">
			        </div>
			
			    <div class="repo-file-list-box">
			        <div class="repo-file-item">
			            <input type="file" id="uploadFile" name="uploadFile" style="display: none;" 
			                   th:required="${repository.originalName == null || repository.originalName == ''}">
			                   
			            <input type="text" id="displayFileName" class="repo-file-name-input" 
			                   th:value="${repository?.originalName}" placeholder="파일을 선택해주세요" readonly>
			            <button type="button" class="repo-file-clear-btn" onclick="clearFile();">×</button>
			        </div>
			        
			        <p style="color: red; font-size: 12px;">
			            * 파일을 수정하려면 새로운 파일을 선택해주세요.
			        </p>
			    </div>
			
			    <div class="repo-btn-group" style="margin-top: 40px;">
			        <a th:href="@{/repository/detail(fileId=${repository?.fileId})}" class="repo-btn repo-btn-list">취소</a>
			        <button type="submit" class="repo-btn repo-btn-download">저장</button>
			    </div>
			</form>
        </div>
    </div>
</div>
</body>

</html>