<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="ConfigFragment">
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/educate-custon-icon.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/css/calendar/fullcalendar.print.min.css}">

    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/dropzone/dropzone.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    

    </th:block>
</html>
	