<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pixcel.app.users.mapper.userMapper">
	<!-- 회원가입 -->
	<insert id="insertUser" parameterType="userServiceVO">
		<selectKey keyProperty="userId" resultType="String" order="BEFORE">
			SELECT 'USERS_' || LPAD(
			NVL(MAX(TO_NUMBER(SUBSTR(user_id, 7))), 0) + 1,
			4,
			'0'
			)
			FROM users
			WHERE user_id LIKE 'USERS_%'
		</selectKey>
		INSERT INTO users
		(
			user_id,
			login_id,
			password,
			user_name,
			email,
			phone
		)
		VALUES
		(
			#{userId},
			#{loginId},
			#{password},
			#{userName},
			#{email},
			#{phone}
		)
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id="checkLoginId" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM users
		WHERE login_id = #{loginId}
	</select>
	
	<!-- 로그인 -->
	<select id="selectUserByLoginId" parameterType="String" resultType="userServiceVO">
		SELECT
			user_id
			,login_id
			,password
			,user_name
			,email
			,phone
			,identity_verified_yn
			,subscribe_yn
		FROM users
		WHERE login_id = #{loginId}
	</select>
</mapper>